.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;

  z-index: 100;
}

.navTitle {
  text-decoration: none;
  text-align: center;
  margin-right: 2vw;
  font-size: 2.6vh;

}

a {
  text-decoration: none;
  color: #121212;
}

.social {
  gap: 10px;
  width: 15vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.navTitle:first-child {
  margin-right: auto;
  margin-left: 2vw;
  position: relative;
  z-index: 1;
}

.mobileNav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f48049;
  color: #fff;
  font-size: large;
  display: flex;
  flex-direction: column;
  z-index: 100;
  display: none;
}

.cross {
  font-size: 5vh;
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
  color: #121212;
  transition: opacity 1.5s;


}


.mobileNavTitle {
  white-space: nowrap;

  color: #fff;
  font-size: 8vh;
  margin-top: 5vh;
  margin-left: 1vh;
  opacity: 0;
  transition: opacity 0.5s;

}

.show-text {
  opacity: 1;
  transition: opacity 1.5s;
}

.loading {
  height: 100%;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.follow {
  position: absolute;
  /* background-color: #f48049; */
  background-color: #F5BF04;
  height: 2px;
  width: 0;
  left: 0;
  z-index: 2;
}

.progressBar {
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.4s ease-out;
  width: 0;
}

.loadingtext {
  position: absolute;
  right: 10;
  bottom: 10vh;
  font-size: 30px;
  color: #F0EDBC;
  font-weight: 800;
  font-family: 'Cormorant Garamond', serif;
  /* transform:translateY(-15px); */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.count {
  position:
    absolute;
  font-size: 130px;
  color: #fff;
  font-weight: 500;
  transform: translateY(-15px);
  font-family: 'Cormorant Garamond', serif;
}

.back {
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: #fff
}

.Link {
  text-decoration: none;
  color: #121212;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Cormorant Garamond', serif;
}


.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 10vw;
}

.heroImage {
  display: block;
  height: 100%;
  width: auto;
}

.overlay {
  background: rgb(26, 25, 25);
  position: absolute;
  width: 100%;
  z-index: 2;
}

.Suman {
  /* opacity: 0;
  transform: translateY(100px); */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.aboutlines {
  /* font-family: 'Cormorant Garamond', serif; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  /* font-size: 1.1vw; */

}

.button {
  opacity: 0;
  transform: translateX(100px);
}


.homeText {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-family: 'Dosis', sans-serif;

  /* opacity: 0; */

}

#Suman {
  /* display: none; */
  opacity: 0;

}

h1 {
  font-size: 100px;

}

p {
  font-size: 50px;
}

.button {
  margin-top: 2vh;
  background-color: #121212;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  padding: 2vh;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.button-w {
  margin-top: 4vh;
  background-color: #F0EDBC;
  width: fit-content;
  color: black;
  text-decoration: none;
  padding: 1.2vh;

}

.but {}

.imageWraper {
  position: relative;
  overflow: hidden;
}

.identities {
  line-height: 0;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  padding: 20px;
  padding-left: 0px;
  overflow-y: clip;
}

.identity {
  margin: 0;
  font-size: 40px;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Cormorant Garamond', serif;
}



/*  */


.exp-wrapper {
  overflow-x: hidden;
  position: relative;
  overflow-y: visible;

}

.exp-time {
  font-size: 1.5rem;

}

.exp-company {
  /* font-size: 3.5rem; */

}

.col {
  display: flex;
  gap: 3em;


}

.exp-container {
  display: flex;
  width: 300vw;

}

.exp-text {
  font-size: 1rem;

}

.timeline {
  position: absolute;
  top: 12em;
  left: 10vw;
  width: 50vw;


}

.mask {
  width: 0;
}

/* section {
    height: 100vh;

} */
section {
  width: 100vw;
  padding: 20vw 10vw;

}

.projects {
  height: 100vh;
  width: auto;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 1vw;
  align-items: center;

}

/* .projects> *:last-child {
  margin-top: auto;
} */
.project {
  /* background-color: #F0EDBC; */
  border: 1px solid;
  border-radius: 5px;
  color: white;
  height: auto;
  width: 25%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project:hover {
  background-color: #F0EDBC;
  border: 1px solid;
  color: black;
  transition: 1ms;

}

.exp-header {
  position: absolute;
  font-size: 10vw;
  top: 0;
  margin-top: 1vw;
  margin-left: 1vw;
}

.proj-header {
  position: absolute;
  font-size: 10vw;
  bottom: 0;
  padding: 1vw;
}

.svgg {
  font: bold 70px Century Gothic, Arial;
  width: 100%;
  height: 120px;
}

text {
  fill: none;
  stroke: black;
  stroke-width: .5px;
  stroke-linejoin: round;
  animation: 2s pulsate infinite;
}


.personal-proj {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  align-items: center;
  align-self: center;
  margin-top: auto;
}

.p-head {
  font-size: 3vw;
  font-family: 'Cormorant Garamond', serif;

}
.p-link{
  display: flex;
  gap: 1vw;
  font-family: 'Cormorant Garamond', serif;

}

.white-icon{
  text-decoration: none;
color: inherit;
}

.p-line {
  font-size: 1vw;
  font-family: 'Cormorant Garamond', serif;


}

.scroll-up {
  position: absolute;
  top: 0;
  /* bottom: 10%; */
  margin-right: 1vw;
  margin-top: 1vw;
  right: 0;
  color: #F0EDBC;
  border: 2px solid white;
  border-radius: 100px;
  background-color: black;
  padding: 0.5vw;
  font-size: 2vw;
  opacity: .5;
}

.skills {
  /* position: absolute;
  bottom: 0; */
  height: 20vh;
  width: 100vw;
  opacity: .5;
  align-self: flex-end;
  margin-top: auto;

}

/*  */


/*  */

@keyframes scroller {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scrollerl {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes bloom {
  0% {
    filter: grayscale(0);
  }

  40% {
    filter: grayscale(.5);
  }

  100% {
    filter: grayscale(.8);
  }
}

.text-scroller {
  width: 100vw;
  overflow-x: hidden;
  /* height: 25vw; */
}

.scroller-left {
  animation-direction: reverse;
  -webkit-animation-name: scroller;
  animation-name: scroller;

  margin-bottom: 10px;
}

.werdr {
  height: 4rem;
  padding-left: 1rem;
  line-height: 4rem;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: scroller;
  animation-name: scroller;
  animation-direction: reverse;

  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  font-size: 7vh;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.hero-Text{
  font-size: 10vh;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .5px;
}
.werd {
  /* height: 4rem; */
  padding-left: 1rem;
  /* line-height: 4rem; */
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: scroller;
  animation-name: scroller;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  font-size: 7vh;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* photo gallary */

.photo-container {
  max-width: 1224px;
  width: 90%;
  margin: auto;

  padding: 40px 0;
}

.photo-gallery {
  display: flex;
  gap: 20px;
  /* height: ;
  width: 70vw; */

}
.phy-header{
  /* position: sticky; */
  font-size: 10vw;
  top: 0;
  margin-top: 2vw;
  margin-left: 1vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/* contact */


.contact-container 		{ 
  font-family: 'Cormorant Garamond', serif;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 30px auto; */
  /* display: block; */
  /* background: #FFF; */
  /* padding: 30px 50px 30px 50px; */
  /* border: solid 1px #ddd; */
  text-align: center;
}
.btn{
border: solid 1px #eee;
border-radius: 2px;
padding: 10px 25px;
color: #616161;
font-weight: bolder;
}
.btn:hover{
background:rgba(28, 135, 164, 0.7);
color:#fff;
}
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input{
  text-align:left;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  background-color: #ECF5F8;
  border-bottom:1px solid black;
}
input:focus { outline:none; }

label 				 {
  color:black; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-5px;
  font-size:14px;
  /* color:#1c87a4; */
}

.span2 	{ position:relative; display:block; width:314px; }
.span2:before, .span2:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:blue; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.span2:before {
  left:50%;
}
.span2:after {
  right:50%; 
}

input:focus ~ .span2:before, input:focus ~ .span2:after {
  width:50%;
}
.span1 {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .span1 {
  -webkit-animation:inputspan1er 0.3s ease;
  -moz-animation:inputspan1er 0.3s ease;
  animation:inputspan1er 0.3s ease;
}

@-webkit-keyframes inputspan1er {
  from { background:#1c87a4; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputspan1er {
  from { background:#1c87a4; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputspan1er {
  from { background:#1c87a4; }
  to 	{ width:0; background:transparent; }
}

.bg{
  position: absolute;
    width: 100vw;
    height: 70vh;
    background: #ECF5F8;
    bottom: 0;
}


/*  */







.background {
  display: flex;
  min-height: 100vh;
}

.contact-container2 {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  opacity: 0;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}


.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.contact-icons{
  font-size: 2vh;
  display: flex;
  margin-bottom: 1vh;
margin-top: 1vh;
  gap: 5px;
  color: #ddd;
}

.c-icons{
  color: #ddd;
  font-size: 1.4vw;
  font-family: 'Cormorant Garamond', serif;
  opacity: 0.6;


}
.f-garamond{
  font-family: 'Cormorant Garamond', serif;

}
.cont-header{
  position: absolute;
  margin-top: 7vh;
  margin-left: 2vw;

}


.arrowdown{
  position: absolute;
  top: 36em;
  left: 76vw;
  opacity: 0;

}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

@media only screen and (max-width: 912px) {
  .mb-reverse {
    flex-direction: column-reverse;
  }
.cont-header {
margin-top: 0vh;
}
  .social {
    width: auto;
  }

  .identity {
    font-size: 20px;
  }

  .identities {
    padding: 10px;
    padding-left: 0px;

  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;

  }

  .heroImage {
    height: auto;
    width: 100vw;
  }

  .homeText {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }

  .center {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    font-size: 3.7vw;
    padding-top: 5vh;
  }

  .timeline {
    top: 3em;
    left: 10vw;
    width: 77vw;
  }

  .anim {
    font-size: 40px;
    padding-top: 1vw;
  }

  .col {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }


  section {
    width: 73vw;
    height: 100vw;
  }

  .project {
    border: 1px solid;
    border-radius: 5px;
    color: white;
    height: auto;
    width: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;

  }



  .personal-proj {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;
    width: 90vw;
    align-items: center;
  }

  .p-head {
    font-size: 4vh;
  }

  .p-line {
    font-size: 2vh;
  }

  .button-w {
    margin-top: 2vh;
  }

  .scroll-up {
    margin-top: 3vw;
    padding: 1.5vw;
    font-size: 6vw;
  }
  .photo-gallery {
    flex-direction: column;
  }
  .arrowdown{
  left: 50vw;
  }
  .exp-wrapper{
    padding-top: 10vh;

  }
  .c-icons {
    color: #ddd;
    font-size: 3.4vw;
    font-family: 'Cormorant Garamond', serif;
}
}